/* CSS Template by gorotron */

body {
	/*background-image:url(bg1b.gif);
	background-color:#FC3;*/
	background-image:url(bg1b_dark.gif);
	background-color:#4e4e4e;
	background-repeat:repeat-x;
	margin:20px;
	padding:0;
	text-align:center;
}

#title {
        font-family:arial;
	font-size:24px;
	color:#FFF;
	font-weight:bold;
	margin:0;
}

#subtitle {
	font-size:9px;
        font-family:verdana,arial;
	color:#F90;
	margin:0;
	font-weight:700;
}

.sectiontitle {
	font-size:16px;
	color:#369;
	font-weight:700;
	margin:0;
	padding-bottom:5px;
	border-bottom:1px dotted #ccc;
}

.sectionsubtitle {
	font-size:13px;
	color:#369;
	font-weight:600;
	margin:0;
        padding-left:20px;
}

.sectionsubtitle a {
    text-decoration:none;
    color:#102eac;
}

.sectionsubtitle a:visited {
    color:#102eac;
}

#container {
	font-family:arial,sans-serif;
	font-size:11px;
	margin:0 auto;
	width:900px;
	padding:10px;
	height:auto;
	background-color:#FFF;
	text-align:left;
}

#banner {
	width:900px;
	height:100px;
	margin-bottom:10px;
}

#bannerLeft {
	width:150px;
	height:100px;
	margin-right:10px;
	background-image:url(static_water_molecule150x100.gif);
	background-color:#FC3;
	float:left;
}

#bannerLeft:hover {
	width:150px;
	height:100px;
	margin-right:10px;
	background-image:url(dancing_water_molecule150x100.gif);
	background-color:#FC3;
	float:left;
}
#bannerRight {
	width:729px;
	height:70px;
	background:url(bg1c.gif) repeat-x;
	float:left;
	border:1px solid #CCC;
	border-width:1px 0 0 1px;
	padding:29px 0 0 10px;
}

#content {
	background:url(bg1.gif) repeat-y;
	height:1%;
        overflow:hidden;
}

#leftColumn {
	float:left;
        padding-bottom: 32767px;
        margin-bottom: -32767px;
}

#nav {
	margin:0;
	padding:0;
	list-style:none;
}

#nav a {
	display:block;
	font-size:11px;
	font-weight:normal;
	font-family:verdana;arial,sans-serif;
	color:#F90;
	text-decoration:none;
	padding:10px;
	width:130px;
	height:10px;
	border-bottom:1px dotted #333;
	background-color:#000;
}

#nav a:hover {
	background-color:#333;
}

#nave {
	margin:0;
	padding:0;
	list-style:none;
}

#nave a {
	display:block;
	font-size:11px;
	font-family:verdana,arial,sans-serif;
	color:#369;
	font-weight:580;
	text-decoration:none;
	padding:10px;
	width:130px;
	height:10px;
	border-bottom:1px dotted #333;
	background-color:#000;
}

#nave a:hover {
	background-color:#333;
}

#leftColumnBottom {
	width:130px;
	background:url(bg1c.gif);
        background-repeat: repeat-x;
	padding:110px 10px 10px;
	color:#EAEAEA;
	background-color:#000;
}

#leftColumnBottom a {
    text-decoration:none;
    color:#369;
}

#rightColumn {
	float:left;
	width:739px;
	margin-left:10px;
	color:#000;
	background-color:#FFF;
}

#clear {
	clear:both;
}

.date {
	font-size:10px;
	color:#999;
	font-weight:normal;
}

#copyright {
	padding-top:10px;
	font:8px verdana,arial,helvetica,sans-serif;
	color:#369;
}

#copyright a {
	text-decoration:none;
	color:#369;
}

#copyright a:hover {
	color:#F39;
}

#welcome {
  font-weight:normal;
  font-size: 15px;
  text-align: left;
  margin-top:30px;
  margin-left:30px;
}

#contact {
  font-weight:normal;
  font-size: 13px;
  text-align: left;
  margin-top:30px;
  margin-left:30px;
}

#contactName {
  font-weight:bold;
  padding-bottom:5px;
}

#contactAddress {
  font-weight:normal;
  padding-top:5px;
  padding-bottom:5px;
}

#contactInfo {
  font-weight:normal;
  font-family:monospace;
  font-size:11px;
  padding-top:5px;
  padding-bottom:5px;
}

#contactEmail {
  font-family:monospace;
  font-weight:normal;
}

#contactEmail a {
  text-decoration:none;
  color:#000;
}

#contactEmail a:hover {
  color:#369;
}

#researcherid {
  padding-top:25px;
  font-size:13px;
  font-weight:normal;
  text-align: left;
}

#researcherid a {
  text-decoration:none;
  color:#000;
}

#researcherid a:hover {
  text-decoration:none;
  color:#369;
}

#coverPicture {
 width:35%; border: 0 solid black;
 max-width: 250px;
 float: right;
 margin-right: 0px;
 margin-bottom: 10px;
}

#google{
  padding-top:145px;
  margin-left:5px;
  text-align: center;
}



/*********************************************************************/

.topic {
  position:relative;
  font-size: 10px;
  font-family:verdana,arial;
  text-align:justify;
  clear:both;
  width:717px;
  padding: 20px 10px 20px 10px;
}

.topic_center {
  text-align:center;
  clear:both;
}

.topic a {
  text-decoration:none;
  color:#102eac;
}

.topic img {
  border-style:none;
}

.topic a:visited {
        color:#102eac;
}

.topic ul{
    padding:0px;
    list-style:none;
}

.topic_img1 {
    position:relative;
    width:45%;
    float:right;
    margin:20px;
    margin-right:50px;
}

.topic_img2 {
    margin-left:2%;
    margin-right:2%;
}

img#movie {
    width:60%;
    position:relative;
    text-align:center;
}

p.largetext {
  text-align:justify;
  width:90%;
}

.subnav {
    text-align:center;
    width:90%;
}

.subnav li{
    display: inline;
    list-style-type: none;
    padding: 10px;
    text-decoration:none;
    font:12px Arial,Helvetica,sans-serif;
}

.subnav a{
    text-decoration:none;
    color:#369;
}

/*********************************************************************/





/*********************************************************************/
/* ESPECÍFIC PER A LA PÀGINA D'ARTICLES I ALTRES CONTRIBUCIONS*/

div.bibtex {
  text-align:right;
  font-size: 13px;
  color:#333;
  padding-top:10px;
  padding-right:0px;
}

div.bibtex a {
  text-decoration:none;
  color:#369;
}

div.bibtex a:hover {
  text-decoration:none;
  color:#369;
  font-weight:bold;
}

div.contributionslist {
    font-size: 12px;
    text-align: left;
    margin-top:20px;
    margin-bottom:40px;
    color: #3f2e1c;
}

div.contributionslist ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0px 0;
}

div.contributionslist li {
    font-family:verdana,arial;
    font-size:10px;
    color:#3f2e1c;
    background-color: #ffffff;
    width:719px;
    padding: 5px 10px 5px 10px;
    display:block;
}

div.contributionslist li:hover {
    background-color: #cec8c1;
}

div.contributionslist a {
    text-decoration:none;
    color:#102eac;
}

div.contributionslist a:visited {
    color:#102eac;
}

span.what {
    color:#3f2e1c;
    font-weight:normal;
}

span.where {
    color:#3f2e1c;
    font-weight:normal;
    font-style: italic;
}

span.au {
    color:#3f2e1c;
    font-weight:normal;
}

span.ti {
    color:#3f2e1c;
    font-weight:bold;
}

span.jo {
    color:#3f2e1c;
    font-weight:normal;
/*  font-style: italic;*/
    display:block;
    padding-right:15px;
}

span.jo a{
/*  color:#3f2e1c;*/
    text-decoration:none;
    color:#102eac;
}

/*
span.jo a:hover {
  background-color:#a6896a;
}
*/

/*********************************************************************/

