#include "include/head.html"
  <title>Intro; OVR</title>
</head>


<body>
<div class="container">

   <div class="title">Intro</div>

   <div class="content">

#include "include/menu.html"

     <div class="subtitle"> </div>

     <div class="pagetext">

            <p>
             I was born in 1978 in Barcelona, 
             <a href="http://en.wikipedia.org/wiki/Catalonia">Catalonia</a>.
            </p>



            


     </div>  <!-- end </div pagetext> -->

          <div class="data">
               <!--#config timefmt="%d-%b-%y" -->
               Last modified <!--#echo var="LAST_MODIFIED" -->
          </div>

#include "include/counter2.html"

  </div> <!-- end </div content> -->

</div> <!-- end </div container> -->
</body>

#include "include/foot.html"
