<ul id="nav">
       <li><a href="index.html">&raquo; Home</a></li>
       <li><a href="research_en.html">&raquo; Research Interests</a></li>
       <li><a href="people.html">&raquo; Research Group</a></li>
       <li><a href="publications_en.html">&raquo; Publications</a></li>
       <li><a href="teaching_en.html">&raquo; Teaching</a></li>
<!--   <li><a href="curriculum_en.html">&raquo; Curriculum</a></li> -->
<!--   <li><a href="links.html">&raquo; Links</a></li> -->
</ul>
<ul id="nave">
       <li><a href="https://www.pci.uni-heidelberg.de//cms/index.html"
               target=”_blank”>&raquo; TC-Heidelberg</a></li>
       <li><a href="https://www.uni-heidelberg.de/fakultaeten/chemgeo/pci"
               target=”_blank”>&raquo; PCI</a></li>
       <li><a href="http://www.pci.uni-heidelberg.de/tc/usr/mctdh/index.html" target=”_blank”>&raquo; MCTDH</a></li>
</ul>
