#include "include/head.html"
  <title>Title; OVR</title>
</head>

<body>
<div class="container">

   <div class="title">Title</div>

   <div class="content">

#include "include/menu.html"


     <div class="subtitle"> Subtitle </div>
             
     <div class="pagetext">

        <div class="topic">
             <div class="pagetext_subtitle">
                  Subtitle 1
             </div>
                 
                  Some text
        </div>

        
        <div class="topic">
             <div class="pagetext_subtitle">
                  Subtitle 2
             </div>
                 <ul>
                     <li> <p> <b>Some list</b> </p> </li>
                 </ul>
        </div>
                     

     </div>  <!-- end </div pagetext> -->
     

     <div class="subtitle">Under construction
        <br> <img src="./imatges/construction.gif" alt="under construction" />
     </div>

     <div class="data">
        <!--#config timefmt="%d-%b-%y" -->
        Last modified <!--#echo var="LAST_MODIFIED" -->
     </div>


  </div> <!-- end </div content> -->

#include "include/counter2.html"

</div> <!-- end </div container> -->
</body>
</html>

#include "include/foot.html"
